*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    margin: 20px 0;
}
button{
    padding: 12px;
    font-size: x-large;
}
#container{
    display: grid;
    grid-template-columns: 50px repeat(26, 100px);
    grid-template-rows: 50px repeat(26, 100px);
}

.cell{

    border: 1px solid green;
    color: black;
    outline: none;
    text-align: center;
    font-size: x-large;
    /* align-items: center; */
}

.header-cell{

    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
    font-size: larger;
    background-color: azure;
    font-weight: 700;

}


.selected{
    outline: 2px solid blue;
    background-color: aqua;  
    border: 2px solid red;  
}

#save{
    padding: 5px;
    margin: 10px 0 0 10px;
    background-color: rgb(24, 218, 63);
    /* color: white; */
    font-weight: bolder;
}